name: Branch build

on:
  push:
    branches-ignore:
      - master
      - 'test-*'

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        go-version: [1.24]
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code
      uses: actions/checkout@v6

    - name: Install windows build helpers
      if: startsWith(matrix.os, 'windows')
      run: choco install mingw
    
    - name: Build
      run: go generate
    
    - name: Test
      run: go run github.com/erkkah/bygg test
