name: Master branch build

on:
  push:
    branches:
      - master

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        go-version: [1.24]
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code
      uses: actions/checkout@v6

    - name: Build
      run: go run github.com/erkkah/bygg

    - name: Test
      run: go run github.com/erkkah/bygg test

    - name: Test-build Docker image
      if: startsWith(matrix.os, 'ubuntu')
      run: docker build .

    - name: Collect licenses
      if: startsWith(matrix.os, 'ubuntu')
      run: ./licenses.sh

    - name: Save license info
      if: startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@v6
      with:
        name: licenses
        path: licenses

    - name: Save change log
      if: startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@v6
      with:
        name: changelog
        path: CHANGELOG.md

    - name: Set executable extension
      if: startsWith(matrix.os, 'windows')
      shell: bash
      run: echo EXE=.exe >> $GITHUB_ENV

    - name: Save artifacts
      uses: actions/upload-artifact@v6
      with:
        name: ${{ format('letarette-{0}', matrix.os) }}
        path: ${{ format('letarette{0}', env.EXE) }}
