name: Release build

on:
  push:
    tags:
      - 'v*'

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        go-version: [1.24]
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code
      uses: actions/checkout@v6

    - name: Build
      run: go run github.com/erkkah/bygg
    
    - name: Test
      run: go run github.com/erkkah/bygg test

    - name: Collect licenses
      if: startsWith(matrix.os, 'ubuntu')
      run: ./licenses.sh

    - name: Save license info
      if: startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@v1
      with:
        name: licenses
        path: licenses

    - name: Save change log
      if: startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@v1
      with:
        name: changelog
        path: CHANGELOG.md

    - name: Set executable extension
      if: startsWith(matrix.os, 'windows')
      shell: bash
      run: echo EXE=.exe >> $GITHUB_ENV
    
    - name: Pack binaries
      run: tar czf binaries.tgz ${{ format('letarette{0}', env.EXE) }} ${{ format('lrcli{0}', env.EXE) }} ${{ format('lrload{0}', env.EXE) }}

    - name: Save artifacts
      uses: actions/upload-artifact@v6
      with:
        name: ${{ format('letarette-{0}', matrix.os) }}
        path: binaries.tgz

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Set TAG
        run: echo TAG=${GITHUB_REF:10} >> $GITHUB_ENV

      - name: Set ARCHIVE
        run: echo ARCHIVE=letarette-${TAG}.tgz >> $GITHUB_ENV

      - uses: actions/download-artifact@v7
        with:
          name: letarette-macos-latest
          path: macos

      - uses: actions/download-artifact@v7
        with:
          name: letarette-ubuntu-latest
          path: linux

      - uses: actions/download-artifact@v7
        with:
          name: letarette-windows-latest
          path: windows

      - uses: actions/download-artifact@v7
        with:
          name: licenses
          path: licenses

      - uses: actions/download-artifact@v7
        with:
          name: changelog
          path: .

      - name: Unpack binaries
        run: for os in linux macos windows; do (cd $os && tar xzf binaries.tgz && rm binaries.tgz); done

      - name: Pack release
        id: pack-release
        run: tar czf $ARCHIVE linux macos windows licenses CHANGELOG.md

      - name: Load changelog
        id: changelog
        run: echo "::set-output name=body::$(cat CHANGELOG.md | sed -e 's/%/%25/g' | sed -e ':begin;$!N;s/\n/%0A/;tbegin')"

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: ${{ env.TAG }}
          body: ${{ steps.changelog.outputs.body }}
          draft: true
          prerelease: true
          files: ${{ env.ARCHIVE }}
